<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor ExpressJS</title>
</head>
<body>
    <h1>Contato</h1>
    <hr>
    <form action="">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <button type="submit">Cadastrar</button>
    </form>
    <p><a href="/">inicial</a> | <a href="/sobre">sobre</a> | <a href="/contato">contato</a></p>
</body>
</html>