<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor ExpressJS</title>
</head>
<body>
    <h1>Bem vindo ao Servidor ExpressJS</h1>
    <hr>
    <p>Essa é a nossa página inicial</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo rerum sint, possimus ipsum alias aliquid optio at nisi ratione mollitia!</p>
    <ul>
        <% for(const banda of bandas){ %>
            <li>Banda: <%= banda %></li>
        <% } %>
    </ul>
    <p><a href="/">inicial</a> | <a href="/sobre">sobre</a> | <a href="/contato">contato</a></p>
</body>
</html>