<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor ExpressJS</title>
</head>
<body>
    <h1>Página sobre</h1>
    <hr>
    <details>
        <summary>Algo muito importante pode estar escondido sob seus olhos. Clique e descubra.</summary>
        <p>Para de ser curioso(a) e volta pro código.</p>
    </details>
    <p><a href="/">inicial</a> | <a href="/sobre">sobre</a> | <a href="/contato">contato</a></p>
</body>
</html>